/*===============UNIVERSAL STYLING=====================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===============NAVBAR STYLING JESSICA SECTION=====================*/




/*===============NONSO STYLING SECTION=====================*/



/*===============SOMTO STYLING SECTION=====================*/




/*===============FOOTER STYLING JESSICA SECTION=====================*/


